.sidemenu-container nz-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .sidemenu-email {
    display: none;
  }
}
