/* No seu arquivo CSS */
.ant-form-item {
    margin-bottom: 5px; 
  }

  .activities-container{
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .list-items-activity{
    margin-top: 15px;
  }

  .activity-card{
    border-bottom: solid 1px gray;
  }