.container {
  display: flex;
  background-color: #26253f;
  width: 100vw;
  height: 100vh;
}

.cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    justify-content: start;
    margin-top: 80px;
  }
  .container {
    
    height: 150vh;
  }
}